@model EntityLayer.Entities.RecipeCreation

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml"; }


<br />
<br />
<div class="form-group">
    <label>Reçete Kodunu Yazınız</label>

    <input type="text" class="form-control" width="100" name="PrescriptionCode" />
    @Html.ValidationMessageFor(x => x.PrescriptionCode, "", new { @style = "color:red" })
<a href="/Home/Index" class="btn btn-info">Ekle</a>
<div>
        

    </div>
    <div style="margin-top:200px">
        <button class="btn btn-info" id="btn1"></button>
    </div>
    <script>
        $('btn1').click(function () {
            alert('Satin Alma islemi gerceklesti');
        });
    </script>

</div>

